.get-started {
  background-color: #f67e7e;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10rem 0;
  position: relative;

  @media screen and (max-width: 750px) {
    flex-direction: column;
  }

  &__pattern {
    position: absolute;
    left: 0;
    bottom: 0;
  }

  &__container {
    display: flex;
    width: 55%;
    justify-content: space-between;

    @media screen and (max-width: 1000px) {
      width: 50%;
    }

    @media screen and (max-width: 750px) {
      width: 75%;
      justify-content: center;
    }
  }
}
.get-started h1 {
  font-size: 4.8rem;
  font-weight: 700;
  margin-top: 1.4rem;

  @media screen and (max-width: 1000px) {
    font-size: 3.2rem;
    margin-top: -1rem;
  }
}
.get-started .btn {
  @media screen and (max-width: 1000px) {
    // font-size: 3.2rem;
    margin-top: -3rem;
  }

  @media screen and (max-width: 750px) {
    margin-top: 3rem;
    margin-left: 0;
  }
}
