.testimonials {
  display: flex;
  align-items: center;
  flex-direction: column;
  // position: relative;
  background-color: #004047;

  &__head {
    font-size: 4.8rem;
    font-weight: 700;
    width: 75%;
    margin-top: 15rem;
    margin-bottom: 5rem;
    text-align: center;
    color: #fff;

    @media screen and (max-width: 1000px) {
      font-size: 3.2rem;
      width: 65%;
      margin: 11rem 0 0 0;
    }
  }

  &__head span {
    display: none;

    @media screen and (max-width: 1000px) {
      display: inline;
      color: #79c8c7;
    }
  }

  &__container {
    display: grid;
    gap: 3rem;
    width: 75%;
    grid-template-columns: repeat(3, 1fr);
    margin: 9rem 0 12rem 0;

    @media screen and (max-width: 1000px) {
      grid-template-columns: repeat(1, 1fr);
    }

    &-item {
      text-align: center;
      color: #fff;
      position: relative;
      height: 20rem;
    }

    &-item p:nth-child(2) {
      font-size: 1.5rem;
      line-height: 1.6;
      // z-index: 10000;
    }

    &-item svg {
      // position: absolute;
      // left: 14.3rem;
      // top: -3.5rem;
      margin-bottom: -2.5rem;
    }
    &-item h3 {
      font-size: 1.8rem;
      color: #79c8c7;
      margin-top: 1.5rem;
      margin-bottom: 0.5rem;
    }
    &-item p:nth-child(3) {
      font-size: 1.3rem;
    }
  }
}

// .quotes {
//   // position: absolute;
//   // left: 30rem;
//   // top: 18rem;
//   // opacity: 0.2;
//   // z-index: -1;
// }

.test-bg-1 {
  position: absolute;
  left: 0;
}
// .test-bg-2 {
//   position: absolute;
//   right: 0;
//   bottom: 0;
// }
