.manage {
  background-color: #012f34;
  display: flex;
  justify-content: center;
  padding: 15rem 0 10rem 0;
  position: relative;
  overflow: hidden;

  @media screen and (max-width: 750px) {
    padding: 9rem 0 10rem 0;
  }

  &__container {
    width: 75%;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 1030px) {
      flex-direction: column;
    }
  }

  &__head {
    flex: 2;
  }
  &__head h1 {
    font-size: 4.8rem;
    font-weight: 700;
    width: 80%;
    color: #fff;
    margin-top: 2.5rem;

    @media screen and (max-width: 750px) {
      font-size: 3.2rem;
    }

    @media screen and (max-width: 1030px) and (min-width: 750px) {
      width: 100%;
      margin-bottom: 3.4rem;
    }
  }
  &__head h1::before {
    content: "";
    position: absolute;
    width: 5rem;
    top: 13rem;
    border-bottom: 5px solid #f67e7e;

    @media screen and (max-width: 750px) {
      top: 6rem;
    }
  }

  &__list {
    @media screen and (max-width: 750px) {
      margin-top: 4rem;
    }
    &-logo {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    flex: 2;
    &-item {
      display: flex;
      margin: 3rem 0;

      @media screen and (max-width: 1030px) and (min-width: 750px) {
        width: 100%;
        margin: 5rem 0;
      }
      @media screen and (max-width: 750px) {
        text-align: center;
        flex-direction: column;
        align-items: center;
      }

      &-text {
        margin-left: 2.2rem;
      }

      &-text h3 {
        font-size: 1.8rem;
        font-weight: 700;
        color: #f67e7e;
      }

      &-text p {
        margin-top: 1.5rem;
        font-size: 1.5rem;
        font-weight: 600;
        color: rgba(255, 255, 255, 0.795);
      }
    }
  }

  &__pattern {
    position: absolute;
    bottom: 0;
    right: -11rem;
    margin-top: auto;

    @media screen and (max-width: 1000px) {
      // width: 100%;
      // top: 0;
      // bottom: 60rem;
      // right: -38rem;
      margin-bottom: 73rem;
    }
  }
}
